<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<div class="mobile-nav-bar title-bar"  data-responsive-toggle="mainNavigation">
  <div class="title-bar-left">
    <button class="menu-icon" type="button" data-toggle="mainNavigation"></button>
  </div>
  <div class="title-bar-center">
    <b><span class="title-bar-text"><img src="/assets/img/logo-menu-app.png" alt="Petro Presidente"/></span></b>
  </div>
  <div class="title-bar-right">
    <small class="title-bar-text">Salir</small>
    <small class="title-bar-text"><a href="#"><i class="fa fa-sign-out title-bar-logo"></i></a></small>
  </div>
</div>
<div class="top-bar" id="mainNavigation">
  <div class="top-bar-left">
    <ul class="menu vertical align-middle medium-horizontal">
      <li class="menu-text hide-for-small-only"><img src="/assets/img/logo-menu-web.png" alt="Petro Presidente"/></li>
      <li><a href="#">Boletín</a></li>
      <li><a href="#">Mesas</a></li>
      <li><a href="#">Anomalías</a></li>
      <li><a href="#">Ayuda</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal">
      <li class="hide-for-small-only"><span><a href="#">Salir <i class="fa fa-sign-out"></i></a></span></li>
    </ul>
  </div>
</div>
