<form class="show-password">
  <input type="text" value="" placeholder="Correo Electrónico" id="username">
  <div class="password-wrapper">
    <input type="password" value="" placeholder="Contraseña" id="password" class="password">
    <!--button class="unmask" type="button" title="Mask/Unmask password to check content">Unmask</button-->
  </div>
  <p><input type="submit" class="button expanded" value="Iniciar sesión"></input></p>
  <div class="callout alert" data-closable>
    <span>Credenciales incorrectas</span>
    <button class="close-button" aria-label="Credenciales incorrectas" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p class="text-center"><a href="recuperacion_cuenta.html">¿Olvidó su contraseña?</a></p>
</form>
